@import "bootstrap-sprockets";
@import "bootstrap";

a {
	color: #7d88ff;
    text-decoration: none;
        &:hover {
        color: #4d5cff;
        text-decoration: none;
    }
}

.logo {
	width: 100%;
}

img {
    max-width: 100%;
}

nav.navbar.navbar-default {
	background: black;
    font-size: 1.3em;
}

.navbar-nav {
    margin: 7.5px 0;
}

.navbar-default .navbar-nav > li > a {
	color: white;
}

.navbar-default .navbar-nav > li {
	text-align: center;
}

.navbar-default .navbar-nav > li > a:hover {
	color: white;
}

.navbar-nav {
	@media (min-width: 768px) {
    float: right;
    padding-right: 6em;
	}
}

.gallery {
    text-align: center;
}

.gallery-item {
    display: inline-block;
    width: 250px;
    padding-bottom: 20px;
    vertical-align: middle;
    height: 300px;

    @media (max-width: 768px) {
    display: block;
    width: 100%;
    }
}
.gallery-item img {
    display: block;
    margin: auto;
    padding-bottom: 10px;
}
.gallery-item img:hover {
    opacity: .8;
}
.gallery-item a {
    font-weight: bold;
}
.gallery-item p {
    margin-bottom: 0;
}

.col-md-3 ul {
	list-style-type: none;
}

.editing {
    padding-top: 20px;
}

.btn.btn-default {
    color: white;
    background-color: #7d88ff;
    border-color: white;
    margin: 0 auto;
    padding: 10px;
    width: 100%;
    max-width: 700px;
}

.btn.btn-default:hover {
    color: #7d88ff;
    background-color: white;
    border-color: #7d88ff;
}

.med-button {
    text-align: center;
}

.small-button {
    margin-top: 30px;
    margin-bottom: 20px;
}

#site-copyright {
    color: #fff;
    background: #000;
    padding: 2em;
    text-align: center;
}

#socialmedia {
    clear: both;
    display: block;
    padding-bottom: 1em;
    padding-top: 20px;
    text-align: center;
    width: 100%;
}

footer {
    border-top: 2px solid #D7D7D7;
	background: #E6E6E6;
	padding-top: 50px;
	margin-top: 120px;
}