<h1><%= @category.name.capitalize %></h1>

Sort by: 

<ul>
  <% @category.artworks.each do |artwork| %>
    <li><%= link_to artwork.title, artwork_path(artwork), class: 'artwork_link' %></li>
  <% end %>

</ul>

<div><%= link_to "Back to Galleries", root_path %></div>