<h1><%= @category.name.capitalize %></h1>
<h2>Take a look at some of my artwork below!</h2>

<ul>
  <% @category.artworks.each do |artwork| %>
    <li><%= link_to truncate(artwork.title), artwork_path(artwork), class: 'artwork_link' %></li>
  <% end %>

</ul>

<div><%= link_to "Back to Galleries", root_path %></div>